@charset "UTF-8";
* {box-sizing:border-box}
body { font-family:  Helvetica, Arial,sans-serif; overflow-X:hidden }

a { color:#05141f;}
a:hover, a:focus, a:active { text-decoration:underline; }
ul:after,.gnb_area:after { display:block; content:''; clear:both; }

.hidden { position:absolute; top:-99999px; left:-99999px; font-size:1px; line-height:1px; width:1px; height:1px; overflow:hidden; }
.inner { position:relative; max-width:1440px; margin:auto; }
.shadowBlack {text-shadow:0 0 7px rgba(0,0,0,.7)}



#wrap {}

/* header  */
header { position:fixed; width:100%; height:111px; background:#fff; z-index:1000}
header:before { position:absolute; display:block; content:''; width:100%; height:30px; background:#05141f;}
header li { float:left; }


.logo { position:absolute; top:57px; left:50%; transform:translate(-50px);}
.logo a { display:block; }
.logo a:before { display:block; content:''; width:100px; height:23px; background:url('../img/logo.png') no-repeat; }
.logo span {}

.open_gnb { display:none; }
.m_home { display:none; }
.d_hidden { display:none; }
.m_view_sch { display:none; }




.gnb_area {}

.util_wrap { width:100%; height:30px; }
.util_wrap a:hover { color:#fff;}
.util_wrap ul li + li:before { display:block; content:''; width:1px; height:10px; background:rgba(255,255,255,0.6); position:absolute; top:9px; }

.util_wrap ul li a { display:block; font-size:12px; color:rgba(255,255,255,0.6); padding:9px 15px 0 17px;}

.gnb_area .info { float:left; }
.gnb_area .member { float:right; }
.util_wrap ul li:first-child a { padding-left:5px; }

.util_wrap .member .view_sch { position: relative; margin-left:10px; }
.util_wrap .member .view_sch span { display:inline-block; position:absolute; top:8px; left:0; width:13px; height:13px; text-indent:-9999px; }

.util_wrap .member .view_sch span:before { display:block; content:'';  width:6px; height:6px; border: 2px solid rgba(255,255,255,0.6); border-radius:50%; position:absolute; }
.util_wrap .member .view_sch span:after { display:block; content:'';  width:2px; height:5px; background:rgba(255,255,255,0.6); position:absolute; top:7px; left:9px;transform: rotate(-45deg); }

.util_wrap .member .view_sch:hover span:before { border: 2px solid #fff; }
.util_wrap .member .view_sch:hover span:after { background:#fff; }


.gnb_nav { float:left; margin:11px 0 0 -15px}
.gnb_side { float:right; margin:11px -15px 0 0; }

.gnb_area .dth1_a { display:block; font-size:17px; font-weight:bold; padding:20px 20px 0; }

/* #container */
#container {padding-top:111px;  width:100%}

.snb_wrap { position:fixed;top:111px; width:100%; height:49px; background:#05141f; z-index:999; }
.snb_wrap a { color:#fff;}

.snb_wrap h2 { position:absolute; left:0; width:267px; text-align:center; line-height:49px; font-size:24px;  }

.snb_area {  }
.snb_nav { padding:0 0 0 267px; }
.snb_nav .dth1_1 { float:left; margin-left:15px;} 
.snb_nav .dth1_a { display:block; font-size:15px; line-height:49px;  color:rgba(255,255,255,0.6);}
.snb_nav .dth1_a:hover { text-decoration:none;}


.snb_nav .dth1_1.selected .dth1_a { color:#fff; }

.snb_nav .dth1_1.selected .dth1_a:after { display:block; content:''; width:100%; height:4px; background:#fff; margin-top:-4px; }

.open_snb { display:none; }
.etc { position:absolute; top:0; right:130px; }
.etc a { line-height:49px; font-size:15px;}
.sales_kit { position:absolute; top:0; right:0; }
.sales_kit a { display:block; width:93px; height:49px; border-right:1px solid #4d5357; border-left:1px solid #4d5357; text-align:center; padding-top:20px; }
.sales_kit a span { display:inline-block; width:48px; height:12px; background:url('../img/spr_kit.png') 0 -34px; text-indent:-9999px;  }

/*******indicator*****/
.m_indicator {display:none;}

.indicator {position:fixed; top:300px; right:10px;z-index:1000}
.indicator_inner {}

.indicator ul {}
.indicator li {width:170px;height:32px; margin-bottom:2px;}
.indicator li a {position:relative; display:block;color:#fff;font-size:14px;line-height:32px;background:rgba(25, 27, 39, 0.6);border-radius:16px;padding-left:14px;transition:0.3s}
.indicator li a:hover, .indicator li.on a {background:#05141f;text-decoration:nond;}
.indicator .indicatorNum {position:absolute;right:0;top:0;width:32px; height:32px;border-radius:18px;background:#05141f; text-align:center;}
.indicator .indicatorTxt {}

.indicator_prev ,.indicator_next{position:absolute;right:0;width:22px; height:22px;}
.indicator_prev {top:-13px;}
.indicator_next {}

.indicator_prev:before, .indicator_next:before{display:block; content:"";width:8px;height:8px; border:2px solid #05141f;border-right:none;border-bottom:none;}
.indicator_prev:before {transform:rotate(45deg);}
.indicator_next:before {transform:rotate(-135deg);}

.indicator_top {text-align:right;margin-top:40px;}
.indicator_top a:hover {background:rgba(27,25,39,0.6)}
.indicator_top a {position:relative;display:inline-block;width:68px; height:32px;color:#fff; background:#05141f;border-radius:16px;text-align:center;font-size:14px;padding-top:13px;}
.indicator_top span:before {position:absolute;top:5px;left:50%;transform:translate(-50%) rotate(45deg);display:block; content:"";width:5px; height:5px; border:2px solid #fff;border-right:none;border-bottom:none;}




/*****  content  ***/
#content { max-width:1920px; margin:49px auto 0 ; background:#fff;}


/*****  content - keyVisualWrap ***/
.keyVisualWrap { position:relative; width:100%;}

.visualInner {}
.keyVisualWrap .bgArea { position:relative; height:710px; overflow:hidden;  }
.keyVisualWrap .bgInner { position:absolute; left:50%; margin-left:-960px; width:100%; height:100%; }
.keyVisualWrap .bgInner img { margin-top:-195px; }

.keyVisualWrap .txtArea { position:absolute; top:70px; left:50%; width:960px; margin-left:-480px; }
.keyVisualWrap .txtArea h3 { font-size:43px; color:#fff; letter-spacing:-2px;}

.keyVisualWrap .v_comment { position:absolute; top:680px; left:80px; }
.keyVisualWrap .v_comment p { font-size:12px; letter-spacing:-1px; color:#fff}


.carInfo { height:140px; width:100%; text-align:center; }
.carInfoInner {}
.carInfo ul { width:960px; margin:auto; border-right:1px solid #d1d1d1;}
.carInfo li { float:left; width:20%; border-left:1px solid #d1d1d1;}
.carInfo li>div { height:140px; }
.carInfo img { padding:20px 0 10px; }
.carInfo p { font-size:13px; color:#05141f;}
.carInfo p .infoTxt { display: block; font-size:26px; font-weight:bold; padding-top:3px;}

/* layout - 디자인 */
.layout {position:relative;background:#fff;
  
}
.layout .mainInner {height:800px; width:100%; overflow:hidden;}

.layout .textArea, .layout .textArea2 {position:absolute; width:960px; top:0; left:50%; margin-left:-480px; color:#fff;overflow:hidden;}
.layout .textArea h3 {font-size:22px; padding:40px 0 0;}
.layout .textArea2 h4 {font-size:40px; padding:100px 0 15px;}

.layout .bgArea { height:800px;  }
.layout .bgArea .bgInner {height:100%;float:left;} 
.layout .bgArea .bgInner img {width:auto; margin-top:-60px;}
.layout .bgArea .bgInner1 img {width:1900px;height:1000px;margin-left:0;}

 
/* layout 리스트 */
.layout {}
.layout .subInner {}
.layout .imgList {}
.layout .imgList li {float:left;border-top:2px solid #fff;border-left:2px solid #fff;}
.layout .imgList li:first-child {border-left:none;}
.layout .imgList a {display:block; position:relative;}
.layout .imgList em {position:absolute; top:50%; left:50% ;transform:translate(-50%, -50%);width:50px; height:50px;border:2px solid #fff;background:rgba(0,0,0,.3);border-radius:50%;}
.layout .imgList em:before, .layout .imgList em:after  {position:absolute; content:'';width:24px; height:2px;background:#fff; left:calc(50% - 12px); top:calc(50% - 1px) }
.layout .imgList em:before {}
.layout .imgList em:after {transform:rotate(90deg)}

.layout .imgList a:hover em {background:rgba(0,0,0,.9);}

.layout .imgList p { position:absolute;top:30px; left:30px;font-size:20px; color:#fff;font-weight:bold;}
.layout .imgList img {width:100%;height:auto;}

.layout .imgList.type4 li {width:25%}
.layout .imgList.type2 li {width:50%;}

/* layout  - 리스트 type2_in */
.layout .imgList.type2 {width:auto; margin:50px auto;}
.layout .imgList.type2 li { width:49%;border:0; }
.layout .imgList.type2 li:nth-child(2) { float:right;}
.layout .imgList.type2 em { top:40%;  }

.layout .imgList.type2 p {font-size:25px; color:#05141f}

/*section -buy */
.buy {padding-top:100px; text-align:center;}
.buy h3 {font-size:36px;}
.buy_btn {margin-top:20px;}
.buy_btn a {display:inline-block;width:120px; height:30px;background:#05141f;color:#fff;line-height:30px;border-radius:15px;font-size:14px;}
.buy_btn span {}
.buy_btn span:before {display:inline-block; content:""; width:20px; height:19px;background:url("../img/spr_common.png") no-repeat -25px -41px;margin:5px 5px 0 3px;vertical-align:top;}


.buy_spec {margin-top:20px;}
.spec_list {}
.spec_list li {position:relative;display:inline-block;font-size:15px; color:#87878d;text-align:left;padding-left:50px;margin:0 20px; }
.spec_list li img {position:absolute; top:0;left:-20px;}
.spec_list li span {display:block;font-size:32px;color:#05141f;font-weight:bold;}

.buy_car {position:relative;max-width:1000px; margin:auto; height:350px; }
.buy_car img {width:100%;position:absolute; right:-100%; transform:translateX(50%);}
.buy_car img.ani {animation:carMove .5s ease-in forwards}

@keyframes carMove {
    0% {}
    100% {right:50%}
}

.buy_link {background:#cdd0d2;padding:100px 15px 50px ;margin-top:-80px;}
.buy_link ul {width:960px; margin:auto;}
.buy_link li {display:inline-block;width:19.5%}
.buy_link li a {display:block;padding:22% 5%; margin:8%; background:#fff;font-size:14px;font-weight:bold;color:#05141f}
.buy_link li a:before {display:block; content:"";width:80px; height:50px; background:url('../img/icon_feature_buildlink.png');margin:0 auto 5%}

.buy_link li:nth-child(1) a:before {background-position:0 0;}
.buy_link li:nth-child(2) a:before {background-position:0 -50px;}
.buy_link li:nth-child(3) a:before {background-position:0 -100px;}
.buy_link li:nth-child(4) a:before {background-position:0 -150px;}
.buy_link li:nth-child(5) a:before {background-position:0 -200px;}



/* footer */
footer { padding:120px 0 ;background:#05141f;}
.inner {}
.footer_txt {}
.footer_txt ul {}
.footer_txt li {display:inline-block;margin-bottom:15px;}
.footer_txt li:after {display:inline-block; content:""; width:1px ;height: 18px; background:#fff;margin:0 10px;}
.footer_txt li a {color:#fff;}
.inner p {color:#fff;margin-bottom:10px;}








